.Messages {
  width: 40vw;
  height: 80vh;

  .MessageContainer {
    display: flex;

    justify-content: start;

    width: 100%;
    .Message {
      border-radius: 20px;

      padding: 5px 10px;

      margin: 1vh 0;

      background-color: rgb(33, 33, 33);

      font-size: 1rem;
    }
  }
  .SendMessageContainer {
    justify-content: end;
    .Message {
      background-color: rgb(146, 136, 211);
    }
  }
}
