.Search {
  border-radius: 5px;

  height: 1vh;
  width: 10vw;

  font-size: 1rem;

  padding: 1vh;

  background-color: rgb(33, 33, 33);

  border: 1px solid #ffffffa9;
}
.Search :hover {
  border-color: #fff;
}
